services:
  rss-mastodon-bot:
    build: .
    container_name: rss-mastodon-bot
    ports:
      - "5000:5000"
    environment:
      MASTODON_TOKEN: ${MASTODON_TOKEN:-}
      MASTODON_URL: ${MASTODON_URL:-https://mastodon.social}
      RSSHUB_URL: ${RSSHUB_URL:-http://host.docker.internal:1200/twitter/user/L_ThinkTank}
      CHECK_INTERVAL: "1800"
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./config.json:/app/config.json
      - ./posted_urls.json:/app/posted_urls.json
